.side-bar {
  background-color: #f8f9fa;
  padding-top: 20px;
  padding: 5rem 0.5rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100px;
  overflow: hidden;
}

aside a.nav-link {
  padding: 0.5rem 1rem;
  color: #212529;
  margin-bottom: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color color 0.25s ease;
}

aside a.nav-link:hover,
aside a.nav-link:focus {
  text-decoration: none;
  background-color: #e9ecef;
}
aside a.nav-link.active {
  color: #0d6efd;
  background-color: #d9d9d9;
}
aside a.nav-link.active:hover {
  background-color: #d0d0d0;
}

.student-info {
  display: grid;
  grid-template-columns: 170px auto;
}
.student-name {
  margin-left: 20px;
}
.student-profile-img {
  width: 170px;
  height: 170px;
  border-radius: 100%;
  img {
    width: 170px;
  }
}

.student-stats {
  margin-top: 30px;
  background: #fefefe;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 10px;
  max-width: 330px;
  height: 100px;
  align-items: center;
}
.student-stat {
  margin-left: 10px;
}
.state-count {
  font-size: 2rem;
  text-align: center;
}

.state-title {
  font-size: 1.2rem;
  text-align: center;
}

.state-head {
  height: 80px;
  border-radius: 4px;
  justify-content: center;
  align-self: center;
  display: flex;
  background: #fefefe;
  img {
    width: 50px;
  }
}

.state-card {
  border: #d3d3d36f 0.05rem solid;
  border-radius: 4px;
  /* width: 200px; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.state-card-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.state-cards {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.achievement-head {
  height: 80px;
  border-radius: 4px;
  justify-content: center;
  align-self: center;
  display: flex;
  background: #fefefe;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  img {
    width: 50px;
  }
}
.achievement-card {
  border: #d3d3d36f 0.05rem solid;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 10px;
  grid-template-columns: 100px auto;
}

.achievement-body {
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: space-between;

  h5 {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
  }
}

.notification-side {
  display: flex;
  flex-direction: column;
}

.teacher-notification {
  display: grid;
  grid-template-columns: 65px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px 10px 0 0;
}

.teacher-notification-img {
  img {
    width: 50px;
  }
}

.teacher-notification-body {
  display: flex;
  justify-content: space-between;
}
.teacher-notification-body {
  span {
    display: block;
  }
  p {
    display: block;
  }
}
.teacher-notification-body span img {
  width: 20px;
}

.view-more-button {
  background-color: #ffffff00;
  color: #171a1f;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.25s ease;
  height: 50px;
  text-decoration: none;
  border: solid 1px #171a1f;
  display: inline-block;
}
.view-more-button:hover {
  background-color: #171a1f;
  color: #fff;
}

.view-more-button:focus{
  background-color: #171a1faa;
  color: #fff;
  box-shadow: 0px 0px 10px #171a1fff;
}

/* .teacher-notification-details {
   grid-column: 2 / 3;
   color: #171a1f;
  
} */